<a href="https://colab.research.google.com/github/Manomay15/Startup-Funding-Analysis/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [267]:
import pandas as pd

In [268]:
data = pd.read_csv('/content/starup.csv')

Let's see how many unique values are present in each column

In [269]:
data.nunique()

Unnamed: 0    616
Date          234
Startup       326
Industry      125
Location       55
Investor      334
Type           68
Amount        181
dtype: int64

In [270]:
data['Startup'].isna().sum()

5

Here we can see that we don't have the names of 5 startups and hence we can drop them as forming conclusion will get difficult.

Similary we'll drop rows where "Amount" is null.

In [271]:
data = data.dropna(subset = ['Startup', 'Amount'])

For time being, let us fill the null values of "Investor" as "Secret" and null values of "Type" as "Unknown".

In [272]:
data['Investor'] = data['Investor'].fillna('Secret')

In [273]:
data['Type'] = data['Type'].fillna('Unknown')

In [274]:
data.isna().sum()

Unnamed: 0    0
Date          0
Startup       0
Industry      0
Location      0
Investor      0
Type          0
Amount        0
dtype: int64

As we can see below, similar type of values are repeated and hence we'll group them together

In [275]:
data['Type'].unique()

array(['Series F', 'Series E', 'Series J', 'Series D', 'Venture',
       'Debt Financing', 'Seed', 'Series A', 'Series B', 'Series C',
       'Unspecified', 'Venture Round', 'Seed Funding', 'Series',
       'Funding', 'Secondary Market', 'Bridge Funding', 'Pre-series E',
       'Venture ', 'Pre-Series A', 'Equity and Debt ', 'Debt ', 'Unknown',
       'Follow-On', 'Private Equity', 'Angel', 'In Progress', 'Series D1',
       'M&A', 'pre-Series A', 'pre-Series B', 'Venture-Series Unknown',
       'pre-Seed', 'Venture - Series Unknown', 'Pre Seed', 'Series C1',
       'Series 1', 'Venture Series', 'Private Equity Round',
       'Pre-series A', 'Seed Round', 'Debt Funding', 'Series G',
       'Series H', 'Funding Round ', 'Corporate Round', 'Maiden Round',
       'pre-series A', 'Seed Funding Round', 'Single Venture',
       'Angel Round', ' Venture - Series Unknown', 'Bridge Round',
       'Debt and Preference capital', 'Inhouse Funding',
       'Seed/ Angel Funding', 'Debt', 'Equity', 'Debt-Funding',
       'Pre-Series A ', 'Equity ', 'Mezzanine', 'Series B (Extension)',
       'Equity Based Funding', 'Private Funding', 'Seed / Angel Funding'],
      dtype=object)

Values like "Pre-series A", "Angel", "Seed", etc. are grouped in "Seed"

Similary the following groups are made:
1. Seed - "Pre-series A", "Seed Round", "Angel"
2. Series A - "Pre-series B", "Series 1"
3. Series B
4. Series C - "Series C1"
5. Series D - "Series D1", "Pre-series E"
6. Series E, F, G, H and J were perfect
7. Secondary Market
8. Bridge - "Bridge Funding", "Bridge Round"
9. Debt
10. Equity & Debt - "Mezzanine", "M&A"
11. Unknown - It consists of values which couldn't tell where they belong

In [276]:
data['Type'] = data['Type'].replace(dict.fromkeys(['pre-Series A', 'Angel', 'Pre-Series A ', 'pre-series A', 'Seed ', 'Seed/ Angel Funding', 'Angel Round', 'Maiden Round', 'Pre-series A', 'Seed', 'Seed Funding', 'Pre-Series A', 'Seed Round', 'Seed Funding Round', 'Seed / Angel Funding', 'pre-Seed', 'Pre Seed', 'Pre Series A', 'Seed Round'], 'Seed'))

In [277]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Debt and Preference capital', 'Debt Funding', 'Debt Financing', 'Debt ', 'Debt-Funding', 'DebtFunding', 'Inhouse Funding'], 'Debt'))

In [278]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Series A', 'pre-Series B', 'Series 1'], 'Series A'))

In [279]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Unknown', 'Venture Series', 'Private Equity', 'Single Venture', 'Equity', 'Private Funding', 'Venture - Series Unknown', 'Venture-Series Unknown', 'Venture', 'Unspecified', 'Venture Round', 'Series', 'Funding', 'Venture ', 'Funding Round ', ' Venture - Series Unknown', 'Corporate Round', 'Equity Based Funding', 'Equity ', 'Private Equity Round', 'Follow-On', 'In Progress'], 'Unknown'))

In [280]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Series B', 'Series B (Extension)'], 'Series B'))

In [281]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Series C', 'Series C1'], 'Series C'))

In [282]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Series D', 'Series D1', 'Pre-series E'], 'Series D'))

In [283]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Bridge Funding', 'Bridge Round'], 'Bridge'))

In [284]:
data['Type'] = data['Type'].replace(dict.fromkeys(['Equity and Debt ', 'Mezzanine', 'M&A'], 'Equity and Debt'))

In [285]:
data['Type'].unique()

array(['Series F', 'Series E', 'Series J', 'Series D', 'Unknown', 'Debt',
       'Seed', 'Series A', 'Series B', 'Series C', 'Secondary Market',
       'Bridge', 'Equity and Debt', 'Series G', 'Series H'], dtype=object)

In [286]:
data.head()

   Unnamed: 0        Date  ...      Type        Amount
0           0  01-04-2021  ...  Series F  46,00,00,000
1           1  05-04-2021  ...  Series E  30,00,00,000
2           2  14-04-2021  ...  Series J  34,30,00,000
3           3  07-04-2021  ...  Series D   8,30,00,000
4           4  14-04-2021  ...   Unknown     74,00,000

[5 rows x 8 columns]

Now coming to the "Industry", here also we can see many overlapping values which can be grouped

In [287]:
data['Industry'].unique()

array(['Edu-tech', 'E-commerce', 'Online Food Delivery', 'FinTech',
       'Technology', 'Edu Tech', 'Hospitality', 'Finance', 'E-Commerce',
       'EdTech', 'Financial Services', 'Consumer Goods Company',
       'AgriTech Startup', 'SaaS', 'Health Tech Startup', 'Food Startup',
       'B2B E-commerce', 'Food and Beverage', 'Technology Provider',
       'Supply chain ', 'EduTech', 'Lifestyle', 'Transportation',
       'Edutech', 'Fintech', 'Dairy Tech', 'Digital Solutions',
       'AgriTech', 'Advertising', 'Information Technology',
       'Personal Care', 'Online Gaming',
       'Video Customer Experience(CX) Platform', 'HealthTech',
       'Human Resources', 'FoodTech', 'Hyper-local Logistics',
       'Water Purification', 'Airfare Marketplace',
       'Gaming and Entertainment', 'Marketplace', 'Automotive Rental',
       'OTT Player', 'Rural FinTech', 'Logistics Solution Provider',
       'Deep Tech AI', 'Block Chain, Cryptocurrency',
       'Professional Network for Women', 'Utility Solutions Provider',
       'Gaming', 'Food Delivery',
       'Digital Reconcilation and Financial Services', 'Real Estate',
       'Transport', 'Education', 'Information Technology and Services',
       'Intelligent Marketing Cloud', 'Cafe', 'E-Tech',
       'Fashion and Apparel', 'Logistics', 'Aerospace',
       'B2B-focused foodtech startup', 'Video', 'Software',
       'Health and wellness', 'Health and Wellness', 'B2B Marketing',
       'Video Games', 'Last Mile Transportation', 'Healthcare',
       'Customer Service', 'B2B', 'Consumer Goods',
       'Advertising, Marketing', 'IoT', 'Consumer Technology',
       'Accounting', 'Retail', 'Customer Service Platform', 'Automotive',
       'Services', 'Compliance', 'Artificial Intelligence', 'Tech',
       'Health Care', 'Luxury Label', 'Waste Management Service',
       'Deep-Tech', 'Agriculture', 'Energy', 'Digital Media', 'Saas',
       'Automobile', 'Agtech', 'Social Media', 'Edtech', 'Ecommerce',
       'Nanotechnology', 'Travel Tech', 'Online Education',
       'Online Marketplace', 'SaaS, Ecommerce', 'NBFC', 'Food',
       'Food Tech', 'Automation', 'Investment', 'Social Network',
       'Financial Tech', 'Logistics Tech', 'Consumer Internet',
       'B2B Platform', 'Fin-Tech', 'Food-Tech', 'Ed-Tech', 'IT'],
      dtype=object)

In [288]:
data = data.drop(columns=data.columns[0])
data.head()

         Date  Startup  ...      Type        Amount
0  01-04-2021   BYJU'S  ...  Series F  46,00,00,000
1  05-04-2021   Meesho  ...  Series E  30,00,00,000
2  14-04-2021   Swiggy  ...  Series J  34,30,00,000
3  07-04-2021    Groww  ...  Series D   8,30,00,000
4  14-04-2021  Beldara  ...   Unknown     74,00,000

[5 rows x 7 columns]

In "Industry", the grouping is done as follows:

1. Education - "Ed-Tech", "Online education", etc.
2. Finance - "FinTech", "Financial Services", etc.
3. Consumables - "Food-Tech", "Food & Beverages", etc.
4. Agriculture - "Agri-Tech", etc.
5. Logistics - "Logistic-Tech", "Transport", etc.
6. Software - "Saas", "Digital solutions", etc.
7. E-Commerce - "Online Marketplace", etc.
8. Healthcare & Hospitality - "Health", "Wellness", etc.
9. Lifestyle & fashion - "Luxury label", "Personal care", etc.
10. Marketing
11. Cutting Edge Tech - "AI", "Blockchain", "IoT", etc.
12. Gaming & Entertainment
13. Energy & Waste Management
14. Automobile
15. Real Estate
16. Compliance
17. Retail
18. Automobile

In [289]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Ed-Tech', 'Edtech', 'Online Education', 'E-Tech', 'Education', 'Edutech', 'Edu-tech', 'Edu Tech', 'EdTech', 'EduTech'], 'Education'))

In [290]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['NBFC', 'Fin-Tech', 'Financial Tech', 'Investment', 'Digital Reconcilation and Financial Services', 'Rural FinTech', 'Fintech', 'Financial Services', 'Finance', 'FinTech','Accounting'], 'Finance'))

In [291]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Consumer Goods', 'Consumer Goods Company', 'Food-Tech', 'Food Tech', 'Food', 'Cafe', 'Food Delivery', 'FoodTech', 'Dairy Tech', 'B2B-focused foodtech startup', 'Food and Beverage', 'Food Startup', 'Water Purification','Online Food Delivery'], 'Consumables'))

In [292]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['AgriTech Startup', 'Agtech', 'Agriculture', 'AgriTech', 'AgriTech Startup'], 'Agriculture'))

In [293]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Utility Solutions Provider', 'B2B Platform', 'B2B', 'Logistics Tech', 'Travel Tech', 'Last Mile Transportation', 'Logistics', 'Transport', 'Logistics Solution Provider', 'Hyper-local Logistics', 'Transportation', 'Supply chain '], 'Logistics'))

In [294]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['IT', 'Consumer Internet','SaaS', 'Saas', 'Services', 'Customer Service Platform', 'Consumer Technology', 'Software', 'Information Technology and Services', 'Professional Network for Women', 'Information Technology', 'Digital Solutions', 'Technology Provider','SaaS', 'Technology'], 'Software'))

In [295]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Airfare Marketplace', 'Online Marketplace', 'SaaS, Ecommerce', 'Ecommerce', 'Marketplace', 'B2B E-commerce', 'E-Commerce', 'E-commerce'], 'E-Commerce'))

In [296]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Health Care', 'Healthcare', 'Health and Wellness', 'Health and wellness', 'HealthTech', 'Health Tech Startup', 'Hospitality'], 'Healthcare & Hospitality'))

In [297]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Luxury Label', 'Fashion and Apparel', 'Lifestyle', 'Personal Care'], 'Lifestyle & Fashion'))

In [298]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['B2B Marketing', 'Intelligent Marketing Cloud', 'Customer Service', 'Advertising, Marketing', 'Advertising'], 'Marketing'))

In [299]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Nanotechnology',
       'Automation', 'Deep-Tech', 'Artificial Intelligence',
       'Tech', 'IoT', 'Deep Tech AI', 'Block Chain, Cryptocurrency'], 'Cutting Edge Tech'))

In [300]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Video', 'Digital Media', 'OTT Player','Social Network', 'Social Media', 'Video Games', 'Gaming', 'Gaming and Entertainment', 'Online Gaming', 'Video Customer Experience(CX) Platform'], 'Gaming & Entertainment'))

In [301]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Waste Management Service', 'Energy'], 'Energy & Waste Management'))

In [302]:
data['Industry'] = data['Industry'].replace(dict.fromkeys(['Automotive Rental', 'Automotive', 'Automobile'], 'Automobile'))

In [303]:
data['Industry'].unique()

array(['Education', 'E-Commerce', 'Consumables', 'Finance', 'Software',
       'Healthcare & Hospitality', 'Agriculture', 'Logistics',
       'Lifestyle & Fashion', 'Marketing', 'Gaming & Entertainment',
       'Human Resources', 'Automobile', 'Cutting Edge Tech',
       'Real Estate', 'Aerospace', 'Retail', 'Compliance',
       'Energy & Waste Management'], dtype=object)

In [304]:
data.head()

         Date  Startup  ...      Type        Amount
0  01-04-2021   BYJU'S  ...  Series F  46,00,00,000
1  05-04-2021   Meesho  ...  Series E  30,00,00,000
2  14-04-2021   Swiggy  ...  Series J  34,30,00,000
3  07-04-2021    Groww  ...  Series D   8,30,00,000
4  14-04-2021  Beldara  ...   Unknown     74,00,000

[5 rows x 7 columns]

Similary "Location" has also been grouped into:

'Bangalore', 'Mumbai', 'Jaipur', 'Gurgaon',
       'Delhi', 'Patna', 'Pune', 'Noida', 'Chennai', 'Ahmedabad',
       'Hyderabad', 'Faridabad', 'Amritsar', 'Haryana', 'Bhopal',
       'Nagpur', 'Indore', 'Ahemadabad', 'Rourkela' and 'Outside India'

In [305]:
data['Location'] = data['Location'].replace(dict.fromkeys(['India', 'Karnataka', 'Kormangala', 'New York, Bengaluru', 'Mumbai/Bengaluru', 'Bengaluru and Gurugram', 'Bengaluru ', 'San Francisco/ Bangalore', 'Singapore and Bangalore', 'Bengaluru', 'Bangalore'], 'Bangalore'))

In [306]:
data['Location'] = data['Location'].replace(dict.fromkeys(['Andheri', 'Chembur', 'Mumbai'], 'Mumbai'))

In [307]:
data['Location'] = data['Location'].replace(dict.fromkeys(['New York', 'Tulangan', 'Nairobi', 'California', 'India/Singapore', 'India/US', 'Burnsville', 'Menlo Park', 'Palo Alto ', 'Santa Monica',
       'Singapore', 'Taramani', 'San Francisco',
       'San Jose,', 'Wilmington, Delaware, United States',
       'Newark, Delaware, United States of Amercia',
       'Stanford, California, ', 'Washington', 'London', 'Palo Alto'], 'Outside India'))

In [308]:
data['Location'] = data['Location'].replace(dict.fromkeys(['Jaipur', 'Jaipur, Rajasthan'], 'Jaipur'))

In [309]:
data['Location'] = data['Location'].replace(dict.fromkeys(['Gurgaon','Gurugram'], 'Gurgaon'))

In [310]:
data['Location'] = data['Location'].replace(dict.fromkeys(['Delhi', 'New Delhi', 'New York and Delhi'], 'Delhi'))

In [311]:
data['Location'].unique()

array(['Bangalore', 'Mumbai', 'Jaipur', 'Outside India', 'Gurgaon',
       'Delhi', 'Patna', 'Pune', 'Noida', 'Chennai', 'Ahmedabad',
       'Hyderabad', 'Faridabad', 'Amritsar', 'Haryana', 'Bhopal',
       'Nagpur', 'Indore', 'Ahemadabad', 'Rourkela'], dtype=object)

In [312]:
data.head()

         Date  Startup  ...      Type        Amount
0  01-04-2021   BYJU'S  ...  Series F  46,00,00,000
1  05-04-2021   Meesho  ...  Series E  30,00,00,000
2  14-04-2021   Swiggy  ...  Series J  34,30,00,000
3  07-04-2021    Groww  ...  Series D   8,30,00,000
4  14-04-2021  Beldara  ...   Unknown     74,00,000

[5 rows x 7 columns]

In [313]:
data.isnull().sum()

Date        0
Startup     0
Industry    0
Location    0
Investor    0
Type        0
Amount      0
dtype: int64

Here I am removing rows which have the values of "Amount" such that they will not contribute in the analysis.

Then I've converted "Amount" into numeric by first removing ',' and hence we got the values as float.

In [314]:
data = data[(data.Amount != 'Undisclosed') & (data.Amount != 'Unknown') & (data.Amount != 'unknown') & (data.Amount != 'undisclosed') & (data.Amount != 'NA\n')]

In [ ]:
data['Amount'] = data['Amount'].apply(lambda x: x.replace(',', ''))

In [ ]:
data['Amount'] = pd.to_numeric(data['Amount'])

In [317]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550 entries, 0 to 615
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      550 non-null    object
 1   Startup   550 non-null    object
 2   Industry  550 non-null    object
 3   Location  550 non-null    object
 4   Investor  550 non-null    object
 5   Type      550 non-null    object
 6   Amount    550 non-null    float64
dtypes: float64(1), object(6)
memory usage: 34.4+ KB

In [318]:
data.to_csv('/content/startup_clean.csv')